.about-page {
    height: 80vh;
    background-color: var(--clr4);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 90vw;
}
.about-page p.about-apps {
    margin-block-end: 10px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.about-page h1 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size:xxx-large;
}

.about-page h2 {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    font-size:xx-large;
}

.contact input {
    border: none;
    border-radius: 5px;
    height: 30px;
}

.contact {
    margin-block-start: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contact button {
    color: var(--clr1);
    width: fit-content;
    border: none;
    border-radius: 2rem;
    background-color: var(--secondary-clr2);
}

.contact button:hover {
    opacity: 0.7;
}

.contact textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-inline: 10px;
    border-radius: 5px;
}
.about-page input:focus, textarea:focus {
    outline: 5px inset var(--secondary-clr2);
}

.user-info {
    display: flex;
    gap: 10px;
}

.cat img {
    max-width: 200px;
    border-radius: 50%;
    border: 4px groove var(--secondary-clr2)
}

.cat {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 30vw;
}

.card1 {
    display: flex;
    align-items: center;
    gap:20px;
}

.card2 {
    display: flex;
    align-items: center;
    gap:20px;
}

.card2 .cat {
    order:1;
}

.card2, .card1, p{
    max-width: 100%;
}

.about-page .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


@media (max-width: 800px) {
    .about-page p{
        font-size: small;
    }
    .card1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:20px;
    } 
    .card1 .info, .card2 .info {
        text-align: center;
    }
    .card2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:20px;
    }
    .card2 .info {
        order:1;
    }
}