.user-msg {
    position: fixed;
    top: 40px;
    right: 40%;
    outline: 1px solid var(--clr1);
    width: fit-content;
    background-color: var(--clr4);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--clr1);
}
.success {
    background-color: var(--secondary-clr1);
}
.error {
    background-color: var(--secondary-clr2);
}