@import './note-list.css';
@import './note-add.css';
@import './note-edit.css';
@import './note-filter.css';

.note-app {
    background-color: var(--clr4);
    width: 85vw;
    min-height: 80vh;
    margin:auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-app p {
    font-size: 1.2rem;
    padding: 10px;
    font-weight: bold;
    color: var(--clr1);
}

.note-app .pin-title-bottom i{
    transform: rotate(180deg);
}

.note-app .note-btn {
    border-radius: 2rem;
    border: none;
    background-color: var(--clr1);
}

.note-btn:hover {
    background-color: var(--clr2);
}

