.note-add {
    display: flex;
    margin: auto;
    border: none;
    border-radius: 2rem;
    max-width: 600px;
    padding: 10px;
}

.note-add input {
    border-radius: 2rem;
    padding-left: 10px;
    border: none;
    flex-grow: 1;

}

.note-add .note-save-btn {
    border-radius: 2rem;
}
  
.note-types button {
    border: none;
    background-color: transparent;
    color: whitesmoke;
    padding: 10px;
    border-radius: 2rem;
    font-size: 1.7rem;
}
.note-types button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
