.note-list {
    background-color: rgb(52, 50, 53);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    list-style-type: none;
    padding: 10px;
    border: 1px solid black;
    width: 85vw;
    margin: auto;
}

.note {
    background-color: rgb(52, 50, 53);
    color: gold;
    box-shadow: -2px -2px 6px white;
    outline: 1px solid whitesmoke;
    border-radius: 5px;
    /* width: 240px; */
    /* height: 100px; */
    display: grid;
    padding: 10px;
}

.note-editor {
    display: flex
}

.note-editor .note-editor-btn {
    min-width: 15px;
    min-height: 15px;
    /* height: 20px; */
    background-color: transparent;
    border: none;
    padding: 5px;
}

.note-editor-btn:hover {
    box-shadow: -2px -2px 6px rgb(100, 99, 99);
}

.note .note-video iframe{
    width: 100%;
}