.note-add {
    display: flex;
    margin: auto;
    border: none;
    border-radius: 2rem;
    max-width: 600px;
    padding: 10px;
}

.note-add input {
    border-radius: 2rem;
    padding-left: 10px;
    border: none;
    height: 40px;
    width: 300px;
    margin: 5px;
}

.inputs input.secondary  {
    display:none;
}

.show {
    display:block;
}

.note-add .note-save-btn {
    border-radius: 2rem;
}
  
.note-types button {
    border: none;
    background-color: transparent;
    color: var(--clr1);
    padding: 10px;
    border-radius: 2rem;
    font-size: 1.7rem;
}
.note-types button:hover {
    background-color: var(--clr2);
}
