.note-filter {
    padding: 15px;
}

.note-filter input {
    border-radius: 2rem;
    border: none;
    height: 40px;
    width: 300px;
}

.note-filter input:focus {
    outline: 5px inset var(--secondary-clr2);
  }