.note-edit-modal {
    width: 400px;
    height: 200px;
    background-color:rgb(52, 50, 53);
    border: 1px solid whitesmoke;
    border-radius: 10px;
    position: absolute;
    left: 30vh;
    top: 20vh;
    display: flex;
    flex-direction: column;
    /* transform: translate(-50%,-50%); */
}

.note-edit-modal .note {
    margin: auto;
    outline:none;
    box-shadow: none;
}

.note-edit-modal .note .note-info {
    text-align: center;
}

.note-text-edit {
    width: 300px;
}
