.note-list {
    background-color: rgb(52, 50, 53);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: auto; 
    gap: 10px;
    list-style-type: none;
    padding: 10px;
    margin: auto;
    align-content: center;
}

.note {
    background-color: rgb(52, 50, 53);
    color: gold;
    outline: 1px solid whitesmoke;
    border-radius: 5px;
    /* width: 240px; */
    /* height: 100px; */
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.note-editor {
    display: flex;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity .3s;
    order:2;
}

.note:hover {
    box-shadow: -2px -2px 6px white;
}

.note:hover .note-editor {
    opacity:1;
}

.note-editor .note-editor-btn {
    min-width: 15px;
    min-height: 15px;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    padding: 5px;
}

.note-editor .pinning {
    align-self: baseline;
    justify-self: end;
}

.note-editor-btn:hover {
    box-shadow: -2px -2px 6px rgb(100, 99, 99);
}

.note .note-video iframe{
    width: 100%;
}

.not-img img {
    width: 90%;
}

.note-color-selector{
    position: absolute;
    border: 1px black solid;
    background-color: thistle;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: 25px;
}

.note-color{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: transparent;

}
.note-color:hover{
    cursor: pointer;
    border: black 1px solid;
}
