.note-add {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border: none;
    border-radius: 2rem;
    max-width: 700px;
    padding: 10px;
}

.note-add input {
    border-radius: 2rem;
    padding-left: 10px;
    border: none;
    height: 40px;
    width: 300px;
    margin: 5px;
}

.inputs input.secondary  {
    display:none;
}

.inputs input.secondary.show {
    display: block;
}

.note-add .note-save-btn {
    border-radius: 2rem;
}
  
.note-types button {
    border: none;
    background-color: transparent;
    color: var(--clr1);
    padding: 10px;
    border-radius: 2rem;
    font-size: 1.7rem;
}
.note-types button:hover {
    background-color: var(--clr2);
}

.note-add input:focus {
    outline: 5px inset var(--secondary-clr2);
}

.note-add img {
    width: 200px;
}

.note-add .note-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.note-add .note-upload.show-img-upload {
    display: flex;
}

.note-add .note-upload.show-video-upload {
    display: flex;
}

.note-add .note-upload.show-recorder {
    display: flex;
    justify-content: space-evenly;
}

.stop, .start {
    font-size: 25px;
}

.start.play {
    animation: 2s ease 0s infinite beat;
}

@keyframes beat {
    0%, 50%, 100% { transform: scale(1, 1); }
    30%, 80% { transform: scale(0.92, 0.95); }
  }


/* small */

@media (min-width: 780px) {

}

/* medium */

@media (min-width: 1100px) {
    .note-add {
        flex-direction: row;
    }
    .note-add .note-upload {
        margin-block-start: 5px;
        flex-direction: row;
        justify-content: center;
    }
}
