.note-edit-modal {
    width: 400px;
    height: 200px;
    background-color:var(--clr4);
    border: 1px solid var(--clr1);
    border-radius: 10px;
    position: absolute;
    float: inline-end;
}

.note-edit-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

.note-edit-modal input {
    border:none;
    border-radius: 2rem;
    margin-block: 10px;
    width: 300px;
    background-color: var(--clr1);
}

.note-edit-modal .note {
    margin: auto;
    outline:none;
    box-shadow: none;
}

.note-edit-modal .note .note-info {
    text-align: center;
}

.note-edit-modal button{
    border-radius: 2rem;
    border: none;
    background-color: var(--clr1);
}

.note-edit-modal button:hover {
    background-color: var(--clr2);
}

