.mail-side-nav{
    background-color: var(--clr5);
    height: 80vh;
    width: 15%;
    padding: 1rem;
    color: var(--clr1);
}

.side-nav-list{
    padding-top: 1rem;
}

.side-nav-list li{
    margin-bottom: .5rem;

}

.mail-nav-item{
    display: flex;
    justify-content: space-between;

}

.mail-nav-counter{
   font-weight: bold;
}

.mail-side-nav-category{
    cursor: pointer;
    align-items: center;
    display: inline-block;
}


.mail-side-nav-category i{
   margin-inline-end: 20px;

}

.add-mail-btn{
    /* background-color: var(--clr2); */
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    
}

.add-mail-btn:hover {
    background-color: var(--clr2);
}

.mail-screen{
    position: fixed;
    height: 80vh;
    width: 100vh;
    background-color: black;
}

.close-menu-btn{
    border: 1px solid var(--clr1);
    border-radius: 1rem;
    background-color: inherit;
    color: var(--clr1);
    width: 80%;
    margin-left: 2rem;
    margin-top: 2rem;
}

@media (max-width: 1100px){

    .mail-side-nav{
        position: fixed;
        /* top: 5vh; */
        /* left: 0; */
        min-width: 30vh;
        transform: translatex(-100%);
        transition: 0.6s;
    }
    
    body.menu-open .mail-side-nav{
        transform: translatex(0);
        box-shadow: 5px 3px 11px;;
    }

    .add-mail-btn{
        border: 1px solid var(--clr1);
        border-radius: 1rem;
        color: black;
        background-color: var(--clr1);
        width: 80%;
        margin-left: 2rem;
        margin-top: 2rem;
    }
}