@import '/assets/style/apps/mail/mail-card.css';

.mail-app{
    background-color: rgb(173, 173, 173);
    min-height: 80vh;
}

.mail-main-container{
    height: 100%;
    
}

.mail-filter{
    background-color: bisque;
   
}

.mail-main-list{
    background-color: aquamarine;
    height: 80vh;
    width: 75%;
    
}

.mail-side-nav{
    background-color: azure;
    height: 80vh;
    width: 25%;
}