.mail-side-nav{
    background-color: var(--clr5);
    height: 80vh;
    width: 15%;
    padding: 1rem;
    color: var(--clr1);
}

.side-nav-list{
    padding-top: 1rem;
}

.side-nav-list li{
    margin-bottom: .5rem;

}

.mail-nav-item{
    display: flex;
    justify-content: space-between;

}

.mail-nav-counter{
   font-weight: bold;
}

.mail-side-nav-category{
    cursor: pointer;
    align-items: center;
    display: inline-block;
}


.mail-side-nav-category i{
   margin-inline-end: 20px;

}

.add-mail-btn{
    /* background-color: var(--clr2); */
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    
}

.add-mail-btn:hover {
    background-color: var(--clr2);
}