.mail-card{
    max-height: 4rem; 
    border-bottom:1px solid var(--clr5) ;

}
.mail-card-content{
    flex-direction: column;

}
.mail-card-content:hover{
    cursor: pointer;

}

.readClassRed{
    color: var(--secondary-clr2);
}