@import '/assets/style/apps/mail/mail-card.css';
@import '/assets/style/apps/mail/mail-add.css';
@import '/assets/style/apps/mail/mail-side-nav.css';

.mail-app{
    background-color: inherit;
    min-height: 80vh;
}

.mail-main-container{
    height: 100%;
    
}

.mail-filter{
    
   
}

.mail-main-list{
    height: 80vh;
    width: 75%;
    
}

