.mail-filter{
    justify-content: space-between;
}

.mail-filter input{
    border-radius: 1rem;
    flex-grow: 2;
}

.page-nav-btn:disabled{
    color: aqua;
}

.mail-filter button{
    border: none;
    color: var(--clr2);
    background-color: inherit;
    font-size: 1.2rem;
}

.main-sidenav-close{
    display: none;
}

@media (max-width: 1100px){
    
    
    .main-sidenav-close{
        display: inline;
    }
    

}