button {
    cursor: pointer;
    color: var(--clr4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

input {
    padding: 1em;
    color: var(--clr3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}